body
{
  background-color:#191a22 ;
}

.illegalcommand
{
  color: rgb(165, 7, 7);
}

.cmd
{
  color: rgb(221, 221, 18);
}

.command
{
  color: rgb(10, 96, 146);
}

.discription
{
  color: rgb(108, 10, 146);
}

.hero
{
  color:rgb(255, 191, 0);
}

.prmt1
{
  color: rgb(170, 103, 52);
}

.prmt2
{
  color: rgb(52, 143, 170);
}


  /*****************/
 /* Default Theme */
/*****************/
.theme-default
{
  --xt-bg:#191a22;
  --xt-fg:rgb(255, 255, 255);
}

.theme-default body 
{
  background-color:#191a22;
}

.theme-default .cmd                          /* help tag */                            
{
  color: rgb(221, 221, 18);
}

.theme-default .command                      /* help command name */
{
  color: rgb(255, 255, 255);
}

.theme-default .discription                  /* help command discription */
{
  color: rgb(192, 192, 192);
}

.theme-default .hero                         /* hero section */
{
  color:rgb(255, 255, 255);
}

.theme-default .prmt1                          /* prompt part1 */
{
  color: rgb(192, 192, 192);
}

.theme-default .prmt2                          /* prompt part2 */
{
  color: rgb(52, 143, 170);
}


/* SQL Theme */
.theme-sql 
{
  background-color: #000080;
  --xt-bg: #000080;  /* Navy Blue Background */
  --xt-fg: #FFFF00;  /* Yellow Text */
  --xt-cursor: #FFA500; /* Orange Cursor */
  --xt-error: #FF0000; /* Red for errors */
  --xt-font-family: "Consolas", "Courier New", monospace;
}
.theme-sql body 
{
  background-color: #000080;
}

/* Ubuntu Theme */
.theme-ubuntu {
  background-color: #300a24;
  color: #f8f8f2;
}

/* Matrix Theme */
.theme-matrix {
  background-color: black;
  color: lime;
}

/* White Theme */
.theme-white {
  background-color: white;
  color: black;
}

/* Terminal Theme */
.theme-terminal {
  background-color: #333;
  color: lightgreen;
}

/* Classic Theme */
.theme-clasic {
  background-color: gray;
  color: white;
}

/* PowerShell (PS) Theme */
.theme-ps {
  background-color: darkblue;
  color: cyan;
}
