body
{
  background-color:#191a22 ;
}

#matrixCanvas
{
  display: none; /* initially hidden */

}

.illegalcommand
{
  color: rgb(165, 78, 7);
}

.cmd
{
  color: rgb(221, 221, 18);
}

.command
{
  color: rgb(10, 96, 146);
}

.discription
{
  color: rgb(108, 10, 146);
}

.hero
{
  color:rgb(255, 191, 0);
}

.prmt1
{
  color: rgb(170, 103, 52);
}

.prmt2
{
  color: rgb(52, 143, 170);
}
  /**************/
 /* Hack theme */
/**************/
.theme-hack
{
  background-color: #000000;
  --xt-bg:#000000;
  --xt-fg: #03b903;
}

.theme-hack .xt>.xt-stdout>.xt-cursor {
  color: var(--xt-fg);
}


  /*****************/
 /* Default Theme */
/*****************/
.theme-default
{
  --xt-bg:#191a22;
  --xt-fg:rgb(255, 255, 255);
}

.theme-default body 
{
  background-color:#191a22;
}

.theme-default .help                          /* help tag */                            
{
  color: rgb(221, 221, 18);
}

.theme-default .command                      /* help command name */
{
  color: rgb(255, 255, 255);
}

.theme-default .discription                  /* help command discription */
{
  color: rgb(192, 192, 192);
}

.theme-default .hero                         /* hero section */
{
  color:rgb(255, 255, 255);
}

.theme-default .prmt1                          /* prompt part1 */
{
  color: rgb(192, 192, 192);
}

.theme-default .prmt2                          /* prompt part2 */
{
  color: rgb(52, 143, 170);
}


  /*****************/
 /*   SQL Theme   */
/*****************/
.theme-sql 
{
  background-color: #010114;
  --xt-bg: #010114;  /* Navy Blue Background */
  --xt-fg: #f5f5ee;  /* Yellow Text */
  --xt-cursor: #f5f5ee; /* Orange Cursor */
  --xt-error: #FF0000; /* Red for errors */
  --xt-font-family: "Consolas", "Courier New", monospace; 
}

.theme-sql .xt>.xt-stdout>.xt-cursor {
  border: none;
  border-bottom: 5px solid var(--xt-fg);
  background: transparent;
  color: var(--xt-fg);
  display: inline;
  line-height: 1;
}

.theme-sql .help                          /* help tag */                            
{
  color: rgb(221, 221, 18);
}

.theme-sql .command                      /* help command name */
{
  color: rgb(255, 255, 255);
}

.theme-sql .discription                  /* help command discription */
{
  color: rgb(192, 192, 192);
}

.theme-sql .hero                         /* hero section */
{
  color:rgb(255, 255, 255);
}

.theme-sql .prmt1                          /* prompt part1 */
{
  color:#f5f5ee;
}

.theme-sql .prmt2                          /* prompt part2 */
{
  color: rgb(52, 143, 170);
}



  /*****************/
 /* Ubuntu Theme  */
/*****************/
.theme-ubuntu {
  background-color: #300a24;
  --xt-bg: #300a24;
  --xt-fg: #f8f8f2;
}

.theme-ubuntu .help {                    /* help tag */
  color: #50fa7b;
}

.theme-ubuntu .command {                /* help command name */
  color: #ff79c6;
}

.theme-ubuntu .discription {            /* help command description */
  color: #bd93f9;
}

.theme-ubuntu .hero {                   /* hero section */
  color: #89f045;
}

.theme-ubuntu .prmt1 {                  /* prompt part1 */
  color: #89f045;
}

.theme-ubuntu .prmt2 {                  /* prompt part2 */
  color: #8be9fd;
}

/*****************/
/* Matrix Theme  */
/*****************/
.theme-matrix {
  background-color: black;
  --xt-bg: black;
  --xt-fg: #03b903; /* classic lime green */
  color: var(--xt-fg);
}
.theme-matrix .xt>.xt-stdout>.xt-cursor {
  border: none;
  border-bottom: 5px solid var(--xt-fg);
  background: transparent;
  color: var(--xt-fg);
  display: inline;
  line-height: 1;
}

.theme-matrix .help {                    /* help tag */
  color: #00cc00;
}

.theme-matrix .command {                /* help command name */
  color: #00ff00;
}

.theme-matrix .discription {            /* help command description */
  color: #33ff33;
}

.theme-matrix .hero {                   /* hero section */
  color: #66ff66;
}

.theme-matrix .prmt1 {                  /* prompt part1 */
  color: #00cc00;
}

.theme-matrix .prmt2 {                  /* prompt part2 */
  color: #99ff99;
}


/* White Theme */
.theme-white {
  background-color: white;
  color: black;
}

/* Terminal Theme */
.theme-terminal {
  background-color: #333;
  color: lightgreen;
}

/* Classic Theme */
.theme-clasic {
  background-color: gray;
  color: white;
}

/* PowerShell (PS) Theme */
.theme-ps {
  background-color: darkblue;
  color: cyan;
}
